@import './variables.scss';

.detailContainer {
  .icon {
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .detailFormContainer {
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $tablet-screen) {
      margin-top: 2rem;
    }

    .detail {
      background: $login-background-color;
      @media (max-width: $tablet-screen) {
        background: none;
      }
      width: 45rem;
      text-align: center;
      padding: 2rem;
      border-radius: 5rem;
      margin: auto;
      display: flex;
      justify-content: space-evenly;

      @media (max-width: $tablet-screen) {
        display: block;
      }

      form {
        display: grid;
        @media (max-width: $tablet-screen) {
          justify-content: center;
        }
        label {
          font-size: 18px;
          margin-bottom: 0.5rem;
          text-align: left;
          color: #fff;
        }

        input {
          height: 1.5rem;
          border-radius: 8px;
          border: none;
          padding: 8px;
          font-size: 15px;
        }
        input:focus {
          outline: none;
        }

        button {
          font-size: 1rem;
          height: 3rem;
          width: 8rem;
          margin-top: 8rem;
          margin: 2rem auto 0rem auto;
          border: none;
          border-radius: 3rem;
        }
        button:focus {
          outline: none;
        }
      }
    }
  }
}
