@import './variables.scss';

.home {
  width: 100%;
  color: $text-primary;
  margin-top: 5rem;

  @media (min-width: $tablet-screen), (max-width: $tablet-screen) {
    margin-top: 0px;
  }

  .usersListContainer {
    width: 90%;
    text-align: center;
    @media (max-width: $tablet-screen) {
      width: 100%;
    }
    @media (min-width: $tablet-screen) {
      width: 100%;
      padding-left: 0px;
      margin: 1rem auto;
      .profileImg {
        width: 25%;
      }
      li {
        padding: 10px;
      }
    }
    p {
      margin-left: 1rem;
    }
    .disabled {
      opacity: 0.5;
    }

    @media (max-width: $mobile-screen) {
      .usersList {
        width: 90%;
      }
    }

    .userItem {
      background: $login-background-color;
      @media (max-width: $tablet-screen) {
        width: auto;
        p {
          font-size: 20px;
        }
      }
    }
  }
  @media (min-width: $mobile-screen) {
    .usersList {
      width: 55%;
      margin: auto;
    }
  }
  @media (min-width: $tablet-screen) {
    .usersList {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      justify-content: center;
    }
    .btnWrapper {
      margin-bottom: 5rem;
    }
  }
  @media (max-width: $mobile-screen) {
    .btnWrapper {
      margin-bottom: 5rem;
      width: 80%;
    }
  }
}
