@import './variables.scss';

html {
  height: 100%;
  width: 100%;
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
      'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    background-color: $background-color;
    background-image: url('../assets/Flat-Mountains.svg');
    background-attachment: fixed;
    background-size: cover;

    #root {
      height: 100%;
      width: 100%;
      .errorMessage {
        background: $error-background-color;
        color: $text-primary;
      }

      .loading-container {
        background: $loading-background-color;
      }

      header {
        height: 3rem;
        text-align: right;
        button {
          font-size: 1rem;
          height: 2.5rem;
          width: 4rem;
          border: none;
          border-radius: 3rem;
          cursor: pointer;
          margin-top: 0.5rem;
          margin-right: 1rem;
        }
      }
      .container {
        width: 100%;
        height: 100%;

        .notification {
          background: $notification-background-color;
          color: $text-primary;
          @media (max-width: $tablet-screen) {
            bottom: 2rem;
          }
        }
      }
    }

    button {
      cursor: pointer;
    }
    button:focus {
      outline: none;
    }
  }
}
