@import './variables.scss';

.loginContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .login {
    background: $login-background-color;
    width: 30rem;
    text-align: center;
    padding: 2rem;
    border-radius: 5rem;
    margin: auto;

    @media (max-width: $mobile-screen) {
      background: none;
    }

    form {
      display: inline-block;

      label {
        font-size: 18px;
        margin-bottom: 0.5rem;
        text-align: left;
        color: $text-primary;
      }

      button {
        font-size: 1rem;
        height: 3rem;
        width: 8rem;
        margin-top: 8rem;
        margin: 2rem auto 0rem auto;
        border: none;
        border-radius: 3rem;
        cursor: pointer;
      }
      input {
        height: 1.5rem;
        border-radius: 8px;
        border: none;
        padding: 8px;
        font-size: 15px;
      }
      input:focus {
        outline: none;
      }
    }
  }
}
