$text-primary: #ffffff;
$background-color: #ff7700;
$login-background-color: #c46ec094;
$error-background-color: #b03811;
$notification-background-color: #098b5e;
$loading-background-color: rgba(000, 000, 000, 0.4);

$mobile-screen: 600px;
$tablet-screen: 800px;
